@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  font-family: Montserrat;
}


.container{
  display: flex;
}

.header{
  top: 0;
  color: white;
  font-size: 3rem;
  background-color: black;
}

.input_container{
  margin-top: 6%;
  margin-left: 4%;
  width: 40%;
}

.input_box{
  resize: none;
  border-radius: 2px;
}

.output_container{
  margin-top: 6%;
  margin-right: 4%;
  width: 40%;
  margin-left: 8%;
  font-size: 2rem ;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.label{
  font-size: 2rem;
}

textarea{
  width: 100%;
  height: 60vh;
}

.input_button , .output_button{
  padding:10px;
  font-size: 25px;
  border: 1px solid black;
  background-color: black;
  color: white;

}